html,body{
    height: 100%;
    width: 100%;
}

#container {
    margin: auto;
}

#poke-container {
    margin: auto;
    width: 90%;
    padding: 10px;
}

#header-container {
    border-radius: 0px !important;
}

#header-text{
    margin: 0 auto;
}

#generate-pokemon {
    margin: 0 auto;
}

#delete-btn {
    position: absolute;
    left: 85%;
    display: none;
    margin-bottom: 5%;
}